<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body class="mb-3">

    <%- include('../partials/navbar'); %>

    <div class="container-fluid">
        <div class="form-group">
            <textarea class="form-control" required name="content" rows="20" placeholder="Paste in anything you want" autofocus></textarea>
        </div>
    </div>

    <%- include('../partials/about'); %>

    <%- include('../partials/footer'); %>

</body>

</html>
