<div class="modal" id="aboutModal" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-cyan font-weight-bold pb-3">About</h3>
                <p>This tool is a disposable clipboard that allows you to rapidly move texts between devices. Just type anything you want, define the expiration time, and share it.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
