<nav class="navbar navbar-expand-lg fixed-top navbar-dark-theme">
    <a class="navbar-brand" href="/">
        <img class="mb-1 mr-1" src="images/favicons/favicon-32x32.png" width="32" height="32" loading="lazy">
        <span>Disposable Clipboard</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#aboutModal">About</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://github.com/thiagodnf/disposable-clipboard">Contribute</span></a>
            </li>
        </ul>
    </div>
</nav>
